@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #a855f7;
  --color-dark: #0f172a;
  --animate-shimmer: shimmer 1.5s infinite linear;

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

body {
  @apply bg-[#f8fafc] text-slate-900 font-sans;
}